name: Deploy to Vultr

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to Vultr Server
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.VULTR_HOST }}
          username: ${{ secrets.VULTR_USER }}
          key: ${{ secrets.VULTR_SSH_KEY }}
          port: ${{ secrets.VULTR_PORT }}
          script: |
            cd /var/www/brawlytics_server
            git pull origin main
            npm install
            pm2 restart brawlytics || pm2 start index.js --name "brawlytics"
